html {
    /* box-sizing: border-box; */
    margin: 0;
    width: 100%;
    min-height: 100%;
}

:root {
    --orange-background-colour: rgba(255, 181, 10, 0.815);
    --dark-background-colour: rgb(57, 57, 57);

    --button-hover-dark-colour: rgb(31, 31, 31);
    --button-hover-semidark-colour: rgba(31, 31, 31, 0.662);
    --button-hover-light-colour: rgb(208, 207, 207);
}

/* *,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
} */

header {
    text-align: center;
    font-size: 110%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(123, 246, 246);
    margin-bottom: 0.4em;
}


body {
    display: flex;
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    /* background: linear-gradient(to top, #a0c0f195, #3d4256c9, #1c1c1cd3); */
    background: linear-gradient(to bottom, var(--orange-background-colour) 1%, var(--dark-background-colour) 50%,  var(--dark-background-colour)49%);
    /* background: linear-gradient(to bottom right, #89b6f4, #5473ef, #3a379c); */
    /* align-items: center; */
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    /* height: inherit; */
    display: flex;
    width: 100%;
    min-height: 100%;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 12px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    justify-content:space-around;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

#playertype-height-weight-row, #abilities-and-boosts-row {
    display: flex;
    justify-content: space-evenly;
    align-items:stretch;
    width: 100%;
    height: 10%;
    font-size: 65%;
    margin-bottom: 0%;
}
#playertype-height-weight-row {
    margin-top: 1%;
    margin-right: 1%;
}
#abilities-and-boosts-row {
    height: fit-content;
    margin-bottom: 0%;
}


.physical-section {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(to bottom right, rgba(110, 110, 110, 0.497), rgba(179, 179, 179, 0.851));
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
    padding: 0.5% 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    text-align: center;
    height: fit-content;
}

.ability-section, #main-ability-section {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(to bottom right, rgb(110, 110, 110), rgb(179, 179, 179));
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 4px 30px black; */
    padding: 2% 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    width: fit-content;
}

/* changes based off the ability-section child */
/* .ability-section:first-child{
    background: linear-gradient(to right, rgb(144, 125, 20), gold, rgb(209, 205, 180));
    box-shadow: 0 4px 30px gold;
} */
/* .ability-section:first-child > .selection-and-input {
    font-size: 100%;
} */
/* .ability-section:nth-child(2) > .selection-and-input,  .ability-section:nth-child(3) > .selection-and-input{
    background: rgb(165, 165, 165);
} */
/* .ability-section:nth-child(2) > .dropdown > .dropdownbutton{ */
#main-ability-section > .dropdown > .dropdownbutton {
    background: linear-gradient(to right, rgb(144, 125, 20), gold, rgb(209, 205, 180));
    box-shadow: 0 4px 30px gold;
    font-size: larger;
}
/* .ability-section:nth-child(2) > .dropdown > .dropdownbutton:hover{ */
#main-ability-section > .dropdown > .dropdownbutton:hover {
    background: linear-gradient(to bottom right, var(--button-hover-dark-colour), var(--button-hover-light-colour));
    box-shadow: 0 4px 30px gold;
    font-size: larger;
}
.dropdownbutton:hover, .main-boost-dropdownbutton:hover, .boost-dropdownbutton:hover, .ability-dropdownbutton:hover {
    background: linear-gradient(to bottom right, var(--button-hover-dark-colour), var(--button-hover-light-colour));
}
/* short colour blink when button is clicked */
.dropdownbutton:active, .main-boost-dropdownbutton:active, .boost-dropdownbutton:active, .ability-dropdownbutton:active {
    animation-duration: 2s;
    animation-name: blink;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background: rgb(101, 101, 101);
}
/* .ability-section > .dropdown > .dropdownbutton:hover {
    box-shadow: none;
} */

.selection-and-input {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* background: linear-gradient(to top, white, rgb(211, 205, 155), rgb(157, 148, 107)); */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 1% 5% black;
    padding: 3% 4%;
    font-family: 'Dosis', sans-serif;
    margin: 1% 1%;
    cursor: pointer;
    font-size: 100%;

    /* appearance: none;
    background-image: url(assets/skate.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%; */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover {
    background-color: rgb(115, 119, 132);
}

.selection-and-input:hover {
    background: linear-gradient(to bottom, var(--button-hover-semidark-colour), var(--button-hover-light-colour), white);
}

.forward-option-group {
    background-color: rgba(187, 218, 246, 0.4);
    font-family: 'Dosis', sans-serif;
}

.defense-option-group {
    background-color: rgba(240, 247, 196, 0.4);
    font-family: 'Dosis', sans-serif;
}



.confirm-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(to bottom, rgb(157, 148, 107), rgb(211, 205, 155), white);
    border-radius: 10px;
    padding: 7px 5px;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-style: italic;
    font-size: 75%;
}

.confirm-button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, var(--button-hover-semidark-colour),var(--button-hover-light-colour), rgb(214, 211, 211));
}



.points-available{
    display: flex;
    color: var(--button-hover-light-colour);
}


/* main section (available points and attributes) */
#main-body-section {
    display: flex;
    flex-direction: column;
}


/* Overall atribute area */
#attribute-area {
    display:flex;
    margin-bottom: 5%;
    justify-content: space-around;
}

/* Attribute Section */
/*  */
.attribute-section {
    display: flex;
    flex-direction: column;
    margin: 0.2%;
    width: 100%;
    margin-top: 3%;
}


/* changing colour of the attribute background to alternating for each attribute section */
.attribute-section:nth-child(odd) > .attribute {
    background: linear-gradient(to right, #fff8e8d0,#8b7c9b82, #3e3e3e6a ) ;
    /* background: linear-gradient(to right, #fff8e8,#7c6c8d, #7b3f00 ) ; */
}
.attribute-section:nth-child(even) > .attribute {
    background: linear-gradient(to left, #fff8e8d0,#8b7c9b82, #3e3e3e6a ) ;
    /* background: linear-gradient(to right, rgb(161, 156, 157), rgb(139, 97, 172), rgb(73, 23, 61) ) ; */
}



.attribute-info {
    display: flex;
    justify-content: end;
    margin-top: 4%;
    background:  linear-gradient(to right,rgba(255, 187, 0, 0.5), rgba(57, 57, 57, 0.588), rgba(33, 33, 33));
    /* background: linear-gradient(to right, #726fdc, #3a379c, #363460); */
    border-radius: 16px;
    width: 100%;
}

.attribute-meter-div {
    justify-content: center;
    display: flex;
}

.attribute-meter {
    margin-top: 2%;
    height: 2%;
    width: 10%;
}

.attribute-name {
    color:  black;
    padding-left: 2%;
    padding-top: 3.5%;
    padding-right: 1%;
    font-size: 80%;
    font-weight: bold;
    /* background: #3a379c; */
    /* background: linear-gradient(to right, #726fdc, #3a379c, #1a193d); */
}


/* Attribute values */
.attribute-value {
    display: flex;
    font-weight: bold;
    /* background: linear-gradient(to left, #726fdc, #3a379c, #1a193d); */
    padding: 3% 1% 1% 1%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 100%;
}

.attribute {
    width: 100%;
    font-size: 80%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    margin-top: 2%;
    /* background: linear-gradient(to bottom right, rgb(130, 150, 251),#5473ef, rgb(39, 59, 119) ) ; */
    /* background: linear-gradient(to bottom right, rgb(130, 150, 251),#5473ef, rgb(39, 59, 119) ) ; */
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
}


.upgrade-value {
    font-size: 80%;
    padding: 2%;
    margin-left: 1%;
    margin-top: 2%;
    color: transparent;
    /* color:#3a379c; */
    /* background:  #3a379c; */
    /* color: rgb(128, 128, 200); */
}

.boost-value {
    padding: 2%;
    margin-right: 2%;
    margin-top: 2%;
    font-size: 80%;
    color: transparent;
    /* color: #3634607b; */
    /* color:#3a379c ; */
    /* background:  #3a379c; */
}
/*  */




/* Plus and minus buttons */
.minus-button {
    /* width: 25px;
    height: 25px;
    margin-top: 4px;
    cursor: pointer;
    background: inherit; */
    width: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1% 3% 1% 3%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background: inherit;
    font-weight: bold;
}

.minus-button:hover {
    background: linear-gradient(to bottom right, rgb(237, 185, 185),rgb(211, 114, 114) ,rgb(56, 32, 32));
    transition: 0.2s;
}

.plus-button {
    font-weight: bold;
    font-size: 80%;
    width: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background: inherit;
    /* border: 1px solid green; */
}

.plus-button:hover {
    background: linear-gradient(to bottom right, rgb(199, 242, 207), rgb(92, 160, 92), rgb(34, 56, 32));
    transition: 0.2s;
}


.points-available-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.points-available {
    display: flex;
    margin-right: 1%;
    margin-left: 0.5%;
}

.points-available-title, .points-available-value {
    display: flex;
    margin-right: 5px;
    font-style: italic;
    font-size: 85%;
}

/* #main-ability{
    background-color: gold;
} */

.dropdownbutton, .boost-dropdownbutton, .ability-dropdownbutton {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    background: linear-gradient(to bottom right, rgb(110, 110, 110), rgb(179, 179, 179));
    border: 1px solid black;
    box-shadow: 0 4px 30px rgb(215, 215, 215);
    color: black;
    padding: min(15px, 9%);
    font-size: 100%;
    /* border: none; */
    cursor: pointer;
    border-radius: 10px;
    margin-top: 4%;
}


.boost-dropdownbutton, .main-boost-dropdownbutton {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    background: linear-gradient(to bottom right, rgb(110, 110, 110), rgb(179, 179, 179));
    /* background: linear-gradient(to bottom, rgb(48, 55, 105), rgb(179, 179, 179)); */
    border: 1px solid black;
    box-shadow: 0 4px 30px rgb(215, 215, 215);
    color: black;
    padding: 8%;
    font-size: 80%;
    /* border: none; */
    cursor: pointer;
    border-radius: 10px;
    margin: 0%;
}
.boost-dropdownbutton {
    padding: 3%;
}

.dropdown {
    margin: 2%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* position: relative; */
    /* display: inline-block; */
}

.dropdown-content, .boost-dropdown-content, .boost-buttons-content, .ability-button-content {
    /* background-color: #f1f1f1; */
    background: transparent;
    min-width: 180px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    flex-direction: column;
    display: none;
    border-radius: 4px;
    font-size: small;
    justify-content: center;
    /* align-items: end;
    justify-items: end; */
}


.ability-button-content {
    flex-direction: row;
    justify-items: end;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.ability-button-content > .ability-dropdownbutton, .boost-buttons-content > .boost-dropdownbutton {
    box-shadow: none;
}

.boost-buttons-content {
    width: 200%;
    font-size: 70%;
}

.dropdown-content {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(55, 66, 84, 0.2);
}

.ability-dropdownbutton {
    padding: min(10px, 5%);
    margin-top: 0.5%;
    font-size: xx-small;
}

.main-ability-item, .boost-item, .ability-item {
    font-size: 80%;
    display: flex;
}

.ability-item {
    padding-right: inherit;
}

.ability-description {
    max-width: 180px;
}

.boost-item:hover, .ability-item:hover, .ability-display-item, .boost-display-item {
    background-color: grey;
    cursor: pointer;
}

.main-ability-item:hover {
    background-color: rgb(97, 97, 27);
    cursor: pointer;
}

.main-ability-item > .material-icons {
    /* width: 50% !important;
    height: 50% !important; */
    /* margin-top: 8%;
    margin-left: 7.5%; */
    font-size: 250%;
    padding-right: 1%;
    background-size: 120%;
    text-shadow: 2px 2px 2px black;
}

.main-ability-display-item > .material-icons {
    text-shadow: 2px 2px 2px black;
    font-size: 250%;
}

.boost-item-value, .ability-name, .ability-display-name {
    padding-top: 1%;
    padding-left: 5%;
    white-space: nowrap;
    text-shadow: 0px 0px 1px var(--button-hover-semidark-colour);
}

.boost-item-requirement, .ability-requirement, .ability-description, .main-ability-description, .ability-display-description, .ability-display-requirement, .boost-display-item-requirement {
    padding-top: 3%;
    padding-left: 5%;
    font-size: 0;
    color: white;
}

.ability-item:hover > .ability-text > .ability-description,
.ability-display-item:hover > .ability-display-text > .ability-display-description,
.main-ability-item:hover > .main-ability-text > .main-ability-description {
    font-size: 80%;
    max-width: 150px;
}
 
.boost-item:hover > .boost-item-text > .boost-item-requirement,
.ability-item:hover > .ability-text > .ability-requirement,
.ability-display-item:hover > .ability-display-text > .ability-display-requirement,
.boost-display-item:hover > .boost-display-item-text > .boost-display-item-requirement {
    font-size: 75%;
    color: yellow;
}
.boost-display-item:hover > .boost-display-item-text > .boost-display-item-requirement {
    font-size: 70%;
}

.boost-item-text, .ability-text, .main-ability-text {
    display: flex;
    flex-direction: column;
}

.boost-display-item > .material-icons, .boost-item > .material-icons {
    text-shadow: 1px 1px 1px var(--button-hover-light-colour);
    font-size: 200%;
}
  
  /* #dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
   */
  /* .dropdown a:hover {background-color: #ddd;} */
  
  /* .show {display: block;} */

  #boosts-row {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    /* background: linear-gradient(to bottom right, rgb(58, 75, 121), rgb(15, 83, 240));
    border: 1px solid black;
    border-radius: 4px; */
    /* box-shadow: 0 4px 30px black; */
    padding: 2% 1%;
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

#horizontal-dropdown {
    flex-direction: row;
}

.ability-dropdown-section, #main-ability-dropdown-section {
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
}


.attribute-meter {
    display: none; /* Hide the original meter element */
  }
  
  .custom-attribute-meter {
    margin-top: 10px;
    margin-left: 4%;
    border-radius: 15px;
    width: 90%;
    height: 17px;
    border: 1px solid #cccccc;
    position: relative;
    overflow: hidden;
    background-color: white;
    z-index: 1;
  }
  
  .attribute-meter-fill {
    height: 100%;
    width: 0; /* Start with zero width */
    position: absolute;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    left: 0;
    z-index: 2;
  }
  
  .state {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black; /* Set the default text color */
  }
  
  /* Adjust positions of the states based on your desired ranges */
  .state-below-75 {
    left: 0;
  }
  
  .state-below-80 {
    left: 20%;
  }
  
  .state-below-85 {
    left: 40%;
  }
  
  .state-below-90 {
    left: 60%;
  }
  
  .state-above-90 {
    left: 80%;
  }


.ability-display-item, .boost-display-item {
    background-color: rgba(115, 116, 116, 0.3);
    box-shadow: 0px 0px 50px rgba(116, 116, 116, 0.7);
    color: rgb(50, 50, 50);
    padding-bottom: 7%;
    padding-right: 4%;
    padding-left: 4%;;
    margin: 2% 2% 2% 2%;
    text-align: center;
    border-radius: 12px;
    font-size: 75%;
    cursor: default;
}
.ability-display-item {
    font-size: 90%;
}

.main-ability-display-item {
    background-color: rgba(253, 245, 5, 0.3);
    box-shadow: 0px 0px 50px rgba(253, 245, 5, 0.7);
    color: rgb(50, 50, 50);
    padding-bottom: 7%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    border-radius: 12px;
    font-size: 120%;
}

.main-ability-display-description {
    display: none;
}

.main-ability-display-item:hover > .main-ability-display-text > .main-ability-display-description {
    display: flex;
    max-width: 220px;
    font-size: x-small;
    color: rgb(59, 59, 59);
}

.ability-display-name {
    text-align: center;
    font-size: 120%;
}

.ability-display-name, .boost-display-name {
    color: inherit;
}

.unselect-button {
    background-color: rgba(255, 0, 0, 0.15);
    display: none;
    margin: 8px;
    font-size: 130%;
    border-radius: 8px;
}

.unselect-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
}

#complete-build-button {
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, rgba(255, 255, 0, 0.5), rgba(83, 154, 16, 0.5));
    border-radius: 12px;
    font-size: 150%;
    height: fit-content;
    width: fit-content;
    padding: 5% 10% 5% 10%;
    margin: 2%;
}
#complete-build-button:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(191, 191, 2, 0.5), rgba(47, 86, 9, 0.5));
}
#reset-button {
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, rgba(255, 208, 0, 0.5), rgba(154, 32, 16, 0.5));
    border-radius: 12px;
    font-size: 150%;
    height: fit-content;
    width: fit-content;
    padding: 5% 10% 5% 10%;
    margin: 2%
}
#reset-button:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(154, 126, 2, 0.5), rgba(80, 17, 9, 0.5));
}

#other-action-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}


#position-selection-title {
    text-align: center;
}

#player-type-selection-warning {
    color: orangered;
}



#complete-build, #help-and-instructions, #alert-modal, #confirm-modal, #about-section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: none;
    z-index: 3;
}


.complete-build-content, #help-content, #confirm-content, #alert-content, #about-content {
    background-color: rgb(57, 57, 57);
    /* margin: 15% auto;
    padding: 20px; */
    margin: 15% auto;
    padding: 0;
    /* border: 1px solid #888; */
    width: 60%;
    max-height: 60vh;
    overflow-y: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 30px black;
    scroll-padding-left: 5px;
}

#confirm-content, #alert-content {
    width: 25%;
}

.complete-build-content::-webkit-scrollbar, #help-content::-webkit-scrollbar, #about-content::-webkit-scrollbar {
    width: 20px;
  }
.complete-build-content::-webkit-scrollbar-track, #help-content::-webkit-scrollbar-track, #about-content::-webkit-scrollbar-track {
    background: transparent;
}

.complete-build-content::-webkit-scrollbar-thumb, #help-content::-webkit-scrollbar-thumb, #about-content::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 16px;
    border: inset rgba(255, 255, 255, 0.479);
  }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.similar-player, .dissimilar-player {
    display: flex;
    flex-direction: row;
    font-family: 'Verdana', 'Helvetica', sans-serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5)
}

a {
    color: rgba(255, 166, 0, 0.534);
}

.player-list-number {
    padding-right: 4%;
}

#player-type-name {
    font-family: 'Verdana', 'Helvetica', sans-serif;
    font-size: 250%;
    font-weight: bold;
    font-style: italic;
    color: rgba(255, 166, 0, 0.534);
    text-shadow: 2px 2.5px 5px rgb(57, 57, 57);
    padding-bottom: 2%;
}

.title-1 {
    color: rgb(57, 57, 57);
    font-size: 120%;
    /* text-shadow: 1px 1px 2px orange; */
    font-family: 'Helvetica', sans-serif;
    margin-bottom: -2.5%;
}

.strengths-weaknesses-title {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Helvetica', sans-serif;
}

ul {
    margin-top: -1.5%;
    margin-bottom: 4%;
    list-style-type: none;
}

li {
    padding: none;
    font-family: 'Helvetica', sans-serif;
    color: rgba(255, 166, 0, 0.534);
}

#complete-build-top-section, #help-content-top-section, #confirm-modal-top-section, #alert-modal-top-section, #about-content-top-section {
    padding-top: 4%;
    padding-bottom: 3%;
    background: linear-gradient(to bottom, var(--orange-background-colour), rgb(57, 57, 57));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h2 {
    padding: 0;
    margin-top: 0;
}

h1, h2 {
    text-align: center;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    color: rgba(255, 255, 255, 0.5)
}

p {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Helvetica', sans-serif;
    color:rgba(255, 255, 255, 0.5);
    font-weight: bold;
    text-align: center;
}

#complete-build-bottom-section, #help-content-bottom-section, #confirm-modal-bottom-section, #about-content-bottom-section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom: 5%;
}

#help-content-bottom-section, #confirm-modal-bottom-section, #alert-modal-bottom-section, #about-content-bottom-section {
    flex-direction: column;
}


#complete-build-bottom-left-section {
    margin-left: 10%;
    margin-bottom: 4%;
}
#complete-build-bottom-right-section {
    margin-right: 10%;
}

.help-li, .help-li-extra, .help-li-2, .arrow {
    color: var(--button-hover-light-colour);
    margin-bottom: 2%;
    font-size: small;
}
.help-ul, .help-ul-extra {
    margin: 0;
    padding: 0;
    margin-left: 4%;
    list-style-type: disc;
}

.help-li-extra {
    display: none;
    margin-bottom: 2%;
}
.help-li-2 {
    list-style: circle;
    margin-left: 4%;
    margin-bottom: 2%;
}

.moreinfo-button, .ok-button, .cancel-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(to bottom, rgba(157, 148, 107, 0.2), rgba(211, 205, 155, 0.2), rgba(255, 255, 255, 0.2));
    border-radius: 10px;
    padding: 7px 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    font-size: 60%;  
    cursor: pointer;
}

.ok-button, .cancel-button {
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: max-content;
    font-size: 105%;
    font-weight: bold;
    background: linear-gradient(to bottom,var(--button-hover-semidark-colour), var(--button-hover-light-colour));
}

.moreinfo-button:hover {
    background: linear-gradient(to bottom, var(--button-hover-semidark-colour), var(--button-hover-light-colour));
}

.ok-button:hover {
    background: linear-gradient(to bottom, rgba(0, 52, 0, 0.7), var(--button-hover-light-colour));
}

.cancel-button:hover {
    background: linear-gradient(to bottom, rgba(75, 0, 0, 0.7), var(--button-hover-light-colour));
}

.yes-cancel-button-section {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#confirm-modal-top-section > .material-icons {
    font-size: 300%;
    color: var(--button-hover-dark-colour);
}
#alert-modal-top-section > .material-icons {
    font-size: 300%;
    color: rgba(139, 0, 0, 0.622);
}

#close-help-button, #close-compbuild-button, #about-close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1%;
    margin-right: 0;
    background: linear-gradient(to bottom, rgba(75, 0, 0, 0.9), var(--button-hover-light-colour));
}

#close-help-button:hover, #close-compbuild-button:hover, #about-close-button:hover {
    background: linear-gradient(to bottom, rgb(33, 0, 0), rgba(119, 1, 1, 0.244));
}

#main-title {
    font-family: 'Verdana', 'Helvetica', sans-serif;
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    color: rgba(187, 122, 1, 0.8);
    text-shadow: 3px 3px 5px var(--dark-background-colour);
}

#main-subtitle {
    font-size: min(80%, 100px);
}

#about-button {
    width: fit-content;
}

.physicals-validity > .material-icons {
    font-size: 140%;
}

#attribute-area {
    flex-wrap: wrap;
}
.attribute-section {
    flex: 0 0 15%;
    margin-right: 1%;
}
.attribute {
    margin-left: 1%;
    margin-right: 1%;
}   


@media only screen and (max-width: 972px) {
    #attribute-area {
        flex-wrap: wrap;
        width: 97%;
    }
    .attribute-section {
        flex: 0 0 45%;
        margin-right: 1%;
        align-items: center;
    }
    .attribute {
        width: 70%;
    }
    #playertype-height-weight-row {
        flex-wrap: wrap;
        margin-bottom: 9%;
    } 
    .physical-section {
        flex: 0 0 40%;
    }
    #help-section {
        flex: 0 0 100%;
        text-align: center;
    }  
    #other-action-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 80%;
    }
    #abilities-and-boosts-row {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    /* Styles for small screens */
    #attribute-area {
        flex-direction: column;
        width: fit-content;
    }
    .attribute {
        height: 10%;
    }
    .physical-section {
        max-height: fit-content;
    }
    #main-body-section {
        align-items: center;
    }
    #playertype-height-weight-row {
        height: 30%;
        flex-direction: column;
        width: fit-content;
    }
    #abilities-and-boosts-row {
        flex-direction: column;
        width: 20%;
        height: 20%;
    }
    .wrapper {
       align-items: center;
    }
    .points-available {
        font-size: 120%;
        text-shadow: 2px 2px 2px black;
    }

    .physicals-validity {
        margin-bottom: -3%;
        display: none;
    }
    .selection-and-input {
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 70%;
    }
    .physical-section {
        margin-bottom: 2.5%;
    }
    #other-action-buttons {
        width: 100%;
        justify-content: space-evenly;
    }
    #reset-button, #complete-build-button {
        font-size: 85%;
        height: fit-content;
        width: fit-content;
        padding: 2% 2% 2% 2%;
    }
    .confirm-button {
        font-size: xx-small;
    }
    .dropdown-button, .ability-dropdownbutton, .boost-dropdownbutton {
        font-size: x-small;
        padding: 3% 3% 3% 3%;
        margin-top: 0.5%;
    }
    .ability-button-content, .boost-buttons-content {
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    #boosts-row {
        flex-direction: column;
        width: 100%;
    }
    .dropdown {
        width: 100%;
    }
    .ability-display-item {
        font-size: 80%;
        width: 250%;
        justify-content: center;
    }
    .ability-display-text {
        text-align: center;
        width: 100%;
    }
    .ability-display-description {
        text-align: center;
        margin-left: 8%;
    }
}