html {
    /* box-sizing: border-box; */
    margin: 0;
    width: 100%;
}

/* *,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
} */

header {
    text-align: center;
    font-size: 110%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(123, 246, 246);
    margin-bottom: 0.4em;
}


body {
    display: flex;
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    background: linear-gradient(to bottom right, #89b6f4, #5473ef, #3a379c);
    /* align-items: center; */
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    /* height: inherit; */
    display: flex;
    width: 100%;
    min-height: 100%;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* background: linear-gradient(to bottom right, #000000, #3a3d46, #ebeafa); */
    /* border: 1px solid rgba(255, 255, 255, 0.01); */
    border-radius: 12px;
    /* box-shadow: 0 4px 30px green; */
    /* color: red; */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* background: rgb(128, 128, 200); */
    /* border: 1px solid rgb(90, 11, 158); */
    justify-content:space-around;
    display: flex;
    flex-direction: column;
    /* flex-basis: auto; */
    min-width: 100%;
}

#playertype-height-weight-row, #abilities-and-boosts-row {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}


.physical-section {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(to bottom right, rgb(110, 110, 110), rgb(179, 179, 179));
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
    padding: 10px 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.ability-section {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(to bottom right, rgb(110, 110, 110), rgb(179, 179, 179));
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 4px 30px black; */
    padding: 10px 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

/* changes based off the ability-section child */
/* .ability-section:first-child{
    background: linear-gradient(to right, rgb(144, 125, 20), gold, rgb(209, 205, 180));
    box-shadow: 0 4px 30px gold;
} */
/* .ability-section:first-child > .selection-and-input {
    font-size: 100%;
} */
/* .ability-section:nth-child(2) > .selection-and-input,  .ability-section:nth-child(3) > .selection-and-input{
    background: rgb(165, 165, 165);
} */
.ability-section:first-child > .dropdown > .dropdownbutton{
    background: linear-gradient(to right, rgb(144, 125, 20), gold, rgb(209, 205, 180));
    box-shadow: 0 4px 30px gold;
    font-size: larger;
}
.ability-section:first-child > .dropdown > .dropdownbutton:hover{
    background: linear-gradient(to bottom right, rgb(32, 34, 95), rgb(179, 179, 179));
    box-shadow: 0 4px 30px gold;
    font-size: larger;
}
.dropdownbutton:hover {
    background: linear-gradient(to bottom right, rgb(32, 34, 95), rgb(179, 179, 179));
}
/* .ability-section > .dropdown > .dropdownbutton:hover {
    box-shadow: none;
} */

.selection-and-input {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* background: linear-gradient(to top, white, rgb(211, 205, 155), rgb(157, 148, 107)); */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 30px black;
    padding: 7px 5px;
    font-family: 'Dosis', sans-serif;
    margin: 10px 10px;
    cursor: pointer;

    /* appearance: none;
    background-image: url(assets/skate.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%; */
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover {
    background-color: rgb(115, 119, 132);
}

.selection-and-input:hover {
    background: linear-gradient(to bottom, rgb(103, 119, 146), rgb(139, 157, 212), white);
}

.forward-option-group {
    background-color: rgb(187, 217, 246);
    font-family: 'Dosis', sans-serif;
}

.defense-option-group {
    background-color: rgb(240, 247, 196);
    font-family: 'Dosis', sans-serif;
}



.confirm-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(to bottom, rgb(157, 148, 107), rgb(211, 205, 155), white);
    border-radius: 10px;
    padding: 7px 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    font-size: 75%;
}

.confirm-button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(94, 88, 64), rgb(164, 160, 120), rgb(214, 211, 211));
}



.points-available{
    display: flex;
}


/* main section (available points and attributes) */
#main-body-section {
    display: flex;
    flex-direction: column;
}


/* Overall atribute area */
#attribute-area {
    display:flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

/* Attribute Section */
/*  */
.attribute-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


/* changing colour of the attribute background to alternating for each attribute section */
.attribute-section:nth-child(odd) > .attribute {
    background: linear-gradient(to right, #fff8e8,#7c6c8d, #7b3f00 ) ;
}
.attribute-section:nth-child(even) > .attribute {
    background: linear-gradient(to right, rgb(161, 156, 157), rgb(139, 97, 172), rgb(73, 23, 61) ) ;
}



.attribute-info {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    background: linear-gradient(to right, #726fdc, #3a379c, #363460);
    border-radius: 16px;
}

.attribute-meter-div {
    justify-content: center;
    display: flex;
}

.attribute-meter {
    margin-top: 10px;
    height: 30px;
    width: 200px;
}

.attribute-name {
    color:  rgb(24, 24, 24);
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 0px;
    font-size: 95%;
    font-weight: bold;
    /* background: #3a379c; */
    /* background: linear-gradient(to right, #726fdc, #3a379c, #1a193d); */
}


/* Attribute values */
.attribute-value {
    display: flex;
    font-weight: bold;
    /* background: linear-gradient(to left, #726fdc, #3a379c, #1a193d); */
    padding: 4.5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: larger;
}

.attribute {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    margin-top: 10px;
    background: linear-gradient(to bottom right, rgb(130, 150, 251),#5473ef, rgb(39, 59, 119) ) ;
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
}

.upgrade-value {
    padding: 5px;
    margin-left: 5px;
    margin-top: 3px;
    color:#3a379c;
    /* background:  #3a379c; */
    /* color: rgb(128, 128, 200); */
}

.boost-value {
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 3px;
    color:#3a379c ;
    /* background:  #3a379c; */
}
/*  */




/* Plus and minus buttons */
.minus-button {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    cursor: pointer;
    background: inherit;
    /* border: 1px solid red; */
}

.minus-button:hover {
    background: linear-gradient(to bottom right, rgb(237, 185, 185),rgb(211, 114, 114) ,rgb(56, 32, 32));
    transition: 0.2s;
}

.plus-button {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    cursor: pointer;
    background: inherit;
    /* border: 1px solid green; */
}

.plus-button:hover {
    background: linear-gradient(to bottom right, rgb(199, 242, 207), rgb(92, 160, 92), rgb(34, 56, 32));
    transition: 0.2s;
}


.points-available-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.points-available {
    display: flex;
    margin-right: 1%;
    margin-left: 0.5%;
}

.points-available-title, .points-available-value {
    display: flex;
    margin-right: 5px;
    font-style: italic;
    font-size: 85%;
}

/* #main-ability{
    background-color: gold;
} */

.dropdownbutton {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    background: linear-gradient(to bottom right, rgb(110, 110, 110), rgb(179, 179, 179));
    border: 1px solid black;
    box-shadow: 0 4px 30px rgb(215, 215, 215);
    color: black;
    padding: 16px;
    font-size: 16px;
    /* border: none; */
    cursor: pointer;
    border-radius: 10px;
    margin-top: 7%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    border-radius: 4px;
    display: none;
  }

  #green-icon {
    color: green;
  }

  #blue-icon {
    color: blue;
  }

  #gold-icon {
    color: rgb(160, 144, 65);
  }

  #black-icon {
    color: black;
  }


.dropdown-item {
    display: flex;
}

.dropdown-item:hover {
    background-color: grey;
    cursor: pointer;
}

.dropdown-item-value {
    padding-top: 1%;
    padding-left: 5%;
    white-space: nowrap;
}

.dropdown-item-requirement {
    padding-top: 3%;
    padding-left: 5%;
    font-size: 0;
    color: white;
}

.dropdown-item:hover > .dropdown-item-text > .dropdown-item-requirement {
    font-size: x-small;
    color: yellow;
}

.dropdown-item-text {
    display: flex;
    flex-direction: column;
}

  
  /* #dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
   */
  /* .dropdown a:hover {background-color: #ddd;} */
  
  /* .show {display: block;} */

  #boosts-row {
    /* backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px); */
    /* background: linear-gradient(to bottom right, rgb(58, 75, 121), rgb(15, 83, 240));
    border: 1px solid black;
    border-radius: 4px; */
    /* box-shadow: 0 4px 30px black; */
    padding: 10px 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

#horizontal-dropdown {
    flex-direction: row;
}

.dropdown-column {
    display: flex;
    flex-direction: row;
}