header {
    text-align: center;
    font-size: 16pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(123, 246, 246);
    margin-bottom: 0.4em;
}

aside {
    margin-bottom: 3.5em;
}

th{
    background-color: #555;
    color: #fff;
    white-space: nowrap;
    margin-left: 0.2em;
    font-size: 9.5pt;
}

th,td {
    display: block;
}

.numeric {
    text-align: right;
    background-color: gray;
    font-size: 9.5pt;
}

.text {
    text-align: center;
    font-size: 9.5pt;
}

.upgrade-option-default {
    text-align: left;
    background-color:lightgray;
    width: 0.4em;
    font-style: italic;
    font-size: 9.5pt;
    color: lightgray;
}

.attribute-boost {
    text-align: left;
    background-color:lightgray;
    width: 0.4em;
    margin-right: 0.2em;
    font-style: italic;
    font-size: 9.5pt;
    color: lightgray;
}

.plus{
    text-align: left;
    background-color: rgb(224, 252, 213);
    width: 0.2em;
    font-size: 9.5pt;
}

.minus{
    text-align: left;
    background-color: rgb(250, 218, 218);
    width: 0.2em;
    font-size: 9.5pt;
}


p{
    text-align: right;
    font-style: italic;
}

table {
    display: flex;
}

th,
td {
  text-align: left;
  padding: 0.4em 0.8em;
  white-space: nowrap;
}

#player-types {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: rgb(195, 237, 251);
    margin-bottom: 0.3em;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    margin-bottom: 2em;
}

#height {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    background-color: rgb(195, 237, 251);
    margin-bottom: 0.3em;
}

button {
    margin-bottom: 2em;
    margin-right: 8em;
}

input {
    background-color: rgb(195, 237, 251);
    width: 5em;
    margin-bottom: 0.3em;
}

tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;

    max-width: 100%;
    /*
    background:
      linear-gradient(to right, white 30%, rgba(255,255,255,0)),
      linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
      radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.4), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;*/
  }